/* Menu */

button.dots {
    width: 20px;
    height: 10px;
    border: none;
    background: transparent;
    position: absolute;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    z-index: 100;
}

button.dots:focus {
    outline: none;
}

button.dots:hover {
    transform: scale(1.5);
}

button.dots.dots:after,
button.dots.dots:before,
button.dots.dots span {
    width: 10%;
    height: 20%;
    border-radius: 100px;
    position: absolute;
    left: 0px;
    background: black;
    transform: rotate(0deg);
    transition: all 0.4s;
    left: 1%;
    right: 1%;
    margin: 0 auto;
}

button.dots.dots:after,
button.dots.dots:before {
    content: "";
}

button.dots.dots:after {
    top: -10%;
    margin-top: 0px;
}

button.dots.dots:before {
    bottom: -10%;
    margin-bottom: 0px;
}

button.dots.dots span {
    top: 50%;
    margin-top: -1px;
}

button.dots.dots.on:after {
    transform: rotate(135deg) translate(3px, -3px);
    width: 100%;
}

button.dots.dots.on:before {
    transform: rotate(225deg);
    bottom: 50%;
    margin-bottom: -1px;
    width: 100%;
}

button.dots.dots.on span {
    transform: rotate(135deg);
}