@import url("https://fonts.googleapis.com/css?family=Mukta:700");

html {
    min-width: 350px;
    min-height: 350px;
    border-radius: 20px;
    font-family: "Mukta";
    font-size: 14px;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.popup-header {
    background-color: #b31b1b;
    padding: 16px;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
}

.popup-header .tabler-icon {
    color: white !important;
    margin-left: 0.5rem;
}

h1 {
    margin: 0;
    font-weight: 300;
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

h3 {
    font-size: 1.2rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabler-icon {
    height: 32px;
    width: 32px;
    color: #b31b1b;
    stroke-width: 1px;
}

#container {
    padding: 32px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

#tabler-menu {
    position: absolute;
    bottom: 12px;
    right: 12px;
    cursor: pointer;
    z-index: 2;
}

#tabler-menu svg {
    transition: all .2s ease-in-out;
}

#tabler-menu svg:hover {
    transform: scale(1.2);
}

#tabler-copy-link {
    transition: all .2s ease-in-out;
    cursor: pointer;
    border-radius: 100000px;
    color: #0276ff;
}

#tabler-copy-link:hover {
    transform: scale(1.2);
}

.options-emoji {
    font-size: 1.2rem;
}

#helpDiv {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.95);
    z-index: 2;
    padding: 16px 32px;
}

#helpDiv p{
    margin-top: 8px;
    margin-bottom: 8px;
}

#helpButton {
    font-size: 0.8rem;
    position: absolute;
    bottom: 16px;
    right: 16px;
    border: 1px solid #b31b1b;
    background: white;
    padding: 2px 6px;
    border-radius: 100px;
    transition: all .1s ease-in-out;
}

#helpButton:hover {
    transform: scale(1.5);
}


#isArxiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#markdown-header div {
    transition: all .2s ease-in-out;
}

#markdown-header div:hover {
    transform: scale(1.2);
}


#check-feedback {
    position: fixed;
    bottom: 48px;
    right: -100px;
    opacity: 0;
    -webkit-box-shadow: 14px 30px 122px -30px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 30px 122px -30px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 30px 122px -30px rgba(0, 0, 0, 0.75);
}

#check-feedback svg {
    color: #00C854 !important;
}
