:root {
    --background: #222a35;
    --lighterBackground: #323942;
    --ligthBackground: #4b535c;
    --codeBackground: #5a5a5a;
    --lightestBackground: #788089;
    --dimColor: #8d9cac;
    --noteColor: #aeb8c2;
    --buttonBackground: #bec6d3;
    --color: #c1cedb;
    --lighterColor: #e5f0fc;
    --aColor: #539bf5;
    --red: #a31717;
    --green: #50e050;
}

/*
-------------------
-----  Popup  -----
-------------------
*/
body,
#delete-paper-modal {
    color: var(--color);
    background: var(--background);
}
#popup-header {
    color: var(--lighterColor);
}

#custom-title-textarea {
    background: var(--lighterBackground);
    color: var(--color);
    border-color: var(--color);
}
#header-icon {
    color: var(--lighterColor) !important;
    stroke: var(--lighterColor) !important;
}
#popup-feedback-copied {
    color: var(--green);
}
#popup-displayId {
    color: var(--dimColor);
}
a {
    color: var(--aColor) !important;
}
code {
    background: var(--codeBackground) !important;
}
*:not(.select2-search__field):focus,
.memory-search-wrapper:focus-within {
    outline: 2px solid var(--color) !important;
    box-shadow: none;
}

input[type="checkbox"].switch:not(:checked) {
    background: bottom;
}
.popup-modal-contents {
    background-color: var(--lighterBackground);
    color: var(--color);
}
#close-popup-modal:hover,
#close-popup-modal:focus {
    color: var(--color);
}

/*
---------------------
-----  Select2  -----
---------------------
*/

/* Clear all tags x */
.select2-selection__clear,
.select2-selection__clear:hover {
    background: none !important;
    color: var(--color);
}

/* Dropdown options (not selected or hovered) */
.select2-results__option--selectable {
    background: var(--lighterBackground);
    color: var(--color);
}
/* Empty Results */
.select2-results__option.select2-results__message {
    background: var(--lighterBackground);
    color: var(--color);
}
/* Dropdown: selected options */
.select2-container--default .select2-results__option--selected {
    background-color: rgb(128, 128, 128);
}
/* Input */
.select2-container--default .select2-selection--multiple {
    background-color: var(--lighterBackground);
}
/* Input tag items */
.select2-selection__choice,
.select2-selection__choice__remove {
    background-color: var(--lightestBackground) !important;
    border-color: var(--lightestBackground) !important;
    color: var(--lighterColor) !important;
}

/* Set input cursor and text color */
.select2-search__field {
    color: var(--color);
}

/* Dropdown option: hover */
.select2-container--default
    .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: rgb(49, 49, 49);
}

/*
---------------------
-----  Buttons  -----
---------------------
*/

button,
.file-upload-label {
    border-color: #adbac7 !important;
    background-color: var(--buttonBackground) !important;
    color: #15191f;
}
button:disabled,
.file-upload-label:disabled {
    color: #2e3742 !important;
    background-color: #5c6268 !important;
}
button:not(.select2-selection__choice__remove):hover,
.file-upload-label:hover {
    border-color: #d8e7f7 !important;
    background-color: #eeeeee !important;
    color: #000000;
}
#memory-sort-arrow {
    border: 1px solid var(--buttonBackground);
    background-color: var(--lighterBackground);
}
/*
--------------------
-----  Inputs  -----
--------------------
*/

.form-note-textarea,
.popup-form-note-textarea,
.form-code-input,
#auto-tags-container input,
#manual-website-form input,
#manual-website-form textarea {
    color: var(--color);
    background: var(--lighterBackground);
}

/*
-------------------------
-----  Memory Item  -----
-------------------------
*/
#memory-container {
    background: var(--background);
}
#menu-container {
    background: var(--background);
}
.memory-search-wrapper {
    background: var(--codeBackground);
    color: white;
    border-color: var(--color);
}
#memory-search::placeholder {
    color: var(--color);
}
#memory-select {
    background: var(--lighterBackground);
}
#memory-select {
    color: var(--color);
}
#memory-select {
    border-color: var(--color);
}
.memory-title {
    color: var(--color) !important;
}
.memory-tag {
    color: var(--color);
    background: var(--codeBackground);
}
.memory-note-div {
    color: var(--noteColor);
}
.memory-authors {
    color: var(--dimColor);
}
.memory-display-id {
    color: var(--dimColor);
}
.memory-visits {
    color: var(--dimColor);
}
.memory-code-link {
    color: var(--aColor);
}
.memory-container {
    border-color: var(--codeBackground);
}
.memory-delete {
    background: var(--background);
}
.memory-container svg {
    stroke: var(--buttonBackground);
}
.memory-item-feedback {
    color: var(--green);
}

/*
-----------------------
-----  SVG icons  -----
-----------------------
*/

.menu-svg,
#memory-switch-close,
#menu-switch-svg,
.popup-click-svg,
.memory-sort-arrow-svg {
    color: var(--color) !important;
    stroke: var(--color) !important;
    fill: var(--background) !important;
}
