html {
    min-width: 450px;
    max-width: 450px;
    min-height: 450px;
    font-size: 16px;
}

body {
    margin: 0;
    min-height: 100vh;
    max-width: 450px;
    min-width: 450px;
    display: flex;
    flex-direction: column;
    font-family: "Yantramanav";
    position: relative;
}

.pm-loader {
    animation: rotation 1.3s infinite linear;
    height: 50px;
    width: 50px;
    border-left: 4px dotted salmon;
    border-radius: 100%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#popup-container {
    padding: 16px 32px 24px 32px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    position: relative;
    box-sizing: border-box;
    max-width: 450px;
    min-width: 450px;
    margin: auto;
}

textarea {
    border-radius: var(--round);
    border: 1px solid #aaaaaa;
    font-family: "Yantramanav";
}

*:not(.select2-search__field, .switch):focus,
.memory-search-wrapper:focus-within {
    outline: 2px solid var(--outline) !important;
    box-shadow: none;
}

#popup-header {
    background-color: var(--red);
    padding: 12px;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 0 0 75% 0/50%;
    box-shadow: 14px 30px 122px -30px rgba(0, 0, 0, 0.75);
}

#filter-favorites {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

h1 {
    margin: 0;
    font-weight: 300;
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

h3 {
    font-size: 1.2rem;
}

h5 {
    font-size: 0.9rem;
}

svg {
    stroke-width: 1.15;
    stroke: #7c7f8b;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

strong {
    font-weight: 500;
}

button,
.file-upload-label {
    border: 1px solid var(--red);
    border-radius: var(--rounder);
    padding: 4px 6px;
    background-color: white;
    transition: all ease 200ms;
    cursor: pointer;
}
button:disabled,
.file-upload-label:disabled {
    cursor: not-allowed;
    pointer-events: none;
    border-color: #e7a9a9;
}

button:hover,
.file-upload-label:hover {
    border-color: var(--red);
    background-color: rgb(253, 235, 235);
}

code {
    font-family: "Fira Code", monospace;
    padding: 1px 4px;
    /* vertical-align: middle; */
    border-radius: var(--round);
    background-color: rgb(238, 238, 238);
    margin: 1px auto;
    display: inline-block;
}
.code-font {
    font-family: "Fira Code", monospace;
}

#header-icon {
    stroke: white;
}

#notArxiv {
    font-weight: 300;
}

.tabler-icon {
    height: 32px;
    width: 32px;
    color: var(--red);
    stroke-width: 1px;
}

#options label {
    max-width: 330px;
}

#menu-switch-svg {
    color: rgb(43, 43, 61);
}

.memory-icon-svg {
    height: 20px;
    width: 20px;
    pointer-events: none;
}

#menu-switch {
    position: absolute;
    bottom: 12px;
    right: 12px;
    cursor: pointer;
    z-index: 6;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-switch svg {
    transition: all 0.2s ease-in-out;
}

#menu-switch svg:hover {
    transform: scale(1.1);
}

#tabler-copy-link {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 100000px;
    color: var(--blue);
}

#tabler-copy-link:hover {
    transform: scale(1.2);
}

.options-emoji {
    font-size: 1.2rem;
}

#menu-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: white;
    z-index: 5;
    padding: 16px 32px;
    width: calc(100% - 64px);
    max-height: calc(100% - 32px);
    overflow: scroll;
}

#menu-container p {
    margin-top: 8px;
    margin-bottom: 8px;
}

#menu-container h4 {
    font-size: 1rem;
}

#menu-container label {
    font-size: 0.9rem;
}

#helpButton {
    font-size: 0.8rem;
    position: absolute;
    bottom: 16px;
    right: 16px;
    border: 1px solid var(--red);
    background: white;
    padding: 2px 6px;
    border-radius: 100px;
    transition: all 0.1s ease-in-out;
}

#helpButton:hover {
    transform: scale(1.5);
}

#isArxiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    margin-bottom: 16px;
}

#markdown-header div {
    transition: all 0.2s ease-in-out;
}

#markdown-header div:hover {
    transform: scale(1.2);
}

#check-feedback {
    position: fixed;
    bottom: 48px;
    right: -100px;
    opacity: 0;
    -webkit-box-shadow: 14px 30px 122px -30px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 30px 122px -30px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 30px 122px -30px rgba(0, 0, 0, 0.75);
}

#check-feedback svg {
    color: #00c854 !important;
}
#memory-spinner {
    position: absolute;
    bottom: 16px;
    left: 16px;
}
#memory-switch {
    position: absolute;
    bottom: 16px;
    left: 16px;
    cursor: pointer;
    color: #4934a5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    z-index: 3;
}

#memory-switch-open {
    stroke: var(--red);
    height: 38px;
    width: 38px;
}

#memory-switch-close {
    height: 30px;
    width: 30px;
    fill: #7c7f8b;
    stroke: white;
}

#memory-switch:hover {
    transform: scale(1.1);
}

#memory-switch svg {
    height: 40px;
    width: 40px;
}

#close-menu-btn {
    stroke: white;
    fill: #7c7f8b;
    height: 40px;
    width: 40px;
}

#memory-container {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    background: white;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#memory-table {
    padding: 16px;
    padding-top: 0px;
    margin-bottom: 40px;
}

.memory-container {
    padding: 12px 16px;
    margin-bottom: 14px;
    border: 1px solid rgba(230, 230, 230, 0.75);
    position: relative;
    border-radius: 8px;
    transition: all 0.1s ease !important;
    font-size: 0.95rem;
}

.memory-container.favorite {
    border: 2px solid var(--red) !important;
}
.memory-container h4 {
    font-weight: 500;
    color: #3a3e52;
    font-size: 1rem;
}

.memory-delete {
    color: var(--red);
    position: absolute;
    right: -8px;
    top: -8px;
    font-size: 2rem;
    line-height: 20px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid var(--red);
    padding-left: 0px;
    text-align: center;
    background-color: white;
}

.memory-title {
    margin: 0px;
}

#memory-filters {
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.memory-item-svg-div {
    cursor: pointer;
    display: flex;
    border-radius: var(--rounder);
}
.memory-item-feedback {
    font-size: 0.75rem;
    color: green;
}
#popup-feedback-copied {
    color: green;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -25px;
    width: 280px;
    text-align: center;
    font-size: 0.75rem;
}

#memory-search {
    background: none;
    outline: none;
    border: 0px;
    color: inherit;
    padding-right: 18px;
}
#memory-search:focus {
    outline: none !important;
}
#memory-search-clear-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 10px;
    cursor: pointer;
    font-size: 1rem;
    visibility: hidden;
}
.memory-search-wrapper {
    position: relative;
    display: flex;
    border-radius: var(--rounder);
    border: 1px solid var(--outline);
    padding: 8px;
}

#memory-select {
    border-radius: var(--rounder);
    border: 1px solid var(--outline);
    padding: 8px;
}

.memory-sort-arrow-svg {
    height: 30px;
    width: 30px;
    cursor: pointer;
    stroke: rgb(49, 49, 49);
}

#memory-sort-arrow {
    border: 1px solid var(--outline);
    border-radius: var(--rounder);
    height: 33px;
    width: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    stroke: inherit;
}

.memory-item-faded {
    color: rgba(54, 54, 54, 0.7);
}

.memory-authors {
    color: rgba(41, 41, 41, 1);
}
#popup-authors {
    text-align: center;
    max-width: 95%;
    font-weight: 300;
    color: grey;
}
#popup-displayId {
    color: gray;
}

.label {
    font-family: "Fira Code", monospace;
    margin-right: 16px;
    font-size: 0.8rem;
}

.memory-note-div {
    font-size: 0.8rem;
    margin-top: 4px;
}

.edit-note-item {
    color: var(--blue);
    cursor: pointer;
}

.edit-note-item:hover {
    color: #6da4e4;
    font-style: italic;
}

.note-content-header {
    font-weight: 600;
    font-style: italic;
    margin-right: 3px;
}

.extended-item div p {
    font-size: 0.8rem;
}

.form-code-input {
    width: 85%;
    border-radius: var(--round);
    border: 1px solid #aaa;
    margin-top: 8px;
    line-height: 1.1rem;
    padding: 6px;
    margin-bottom: 4px;
}

.memory-code-link,
#popup-code-link {
    text-decoration: underline;
    color: rgb(22, 86, 184);
    cursor: pointer;
    margin-bottom: 16px;
    word-break: break-all;
}

#popup-code-link {
    font-size: 1.05rem;
}
.popup-form-note-textarea {
    width: 85%;
    font-size: 0.9rem;
}
.form-note textarea {
    width: 85%;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    font-size: 0.9rem;
}

.form-note-buttons {
    text-align: end;
}

.memory-tag {
    color: #5c5c5c;
    padding: 3px 6px;
    background: #ececec;
    margin-right: 8px;
    border-radius: var(--round);
    cursor: pointer;
}
.memory-display-id,
.memory-visits {
    font-size: 0.7rem;
}

#popup-copy-icons .memory-item-svg-div {
    transition: all ease 250ms;
}

#popup-copy-icons .memory-item-svg-div:hover {
    transform: scale(1.1);
}

#delete-paper-modal {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.memory-item-favorite {
    cursor: pointer;
    margin-right: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 18px;
    height: 18px;
}
.memory-item-favorite-svg {
    position: absolute;
    bottom: -5px;
    left: -2px;
}

svg.favorite {
    stroke-width: 2px !important;
    color: var(--red) !important;
    stroke: var(--red) !important;
}
.popup-click-svg {
    height: 30px;
    width: 30px;
    pointer-events: none;
}
button.changed {
    border: 3px solid green;
}
.btn-secondary {
    background-color: #4f6272;
    color: rgb(240, 240, 240);
    border: 0px;
}
.btn-secondary:hover {
    background-color: #404e5c;
    color: white;
    border: 0px;
}

.select2-search__field {
    font-size: 0.85rem !important;
}
.errorTitle {
    margin: 0px;
}

.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-center-evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-center-start {
    display: flex;
    align-items: center;
    justify-content: start;
}

#custom-title-textarea {
    font-family: "Fira-code", monospace;
}

#popup-delete-paper {
    cursor: pointer;
}
#popup-delete-paper svg:hover {
    stroke: var(--red);
}

/*
------------------------
-----  What's New  -----
------------------------
*/

#whats-new-container {
    position: absolute;
    top: -65px;
    right: 0px;
    cursor: pointer;
}

#whats-new-marker {
    min-width: 12px;
    min-height: 12px;
    border-radius: 100%;
    background: radial-gradient(#dd2d44, #9f051c);
    position: absolute;
    top: 0px;
    right: 3px;
}

#modal-whatsnew-content li {
    margin-top: 4px;
}
#modal-whatsnew-content a {
    margin-top: 16px;
    display: inline-block;
}
#modal-whatsnew-content code,
#modal-keyboard-content code {
    font-size: 0.75rem;
}

/*
-------------------------
-----  Popup Modal  -----
-------------------------
*/

.popup-modal-wrapper {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    max-width: 450px; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2); /* Black w/ opacity */
    backdrop-filter: blur(6px);
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
}

/* Modal Content/Box */
.popup-modal-contents {
    background-color: #fefefe;
    padding: 20px 35px;
    border-radius: var(--rounder);
    width: 70%; /* Could be more or less, depending on screen size */
    max-height: 350px;
    overflow: scroll;
}

/* The Close Button */
#close-popup-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
}

#close-popup-modal:hover,
#close-popup-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.popup-modal-contents ul {
    font-size: 0.9rem;
    padding-left: 12px;
}

/*
------------------------------
-----  No paper content  -----
------------------------------
*/
#no-paper-div h3 {
    font-size: 1rem;
}

#no-paper-why-code {
    cursor: pointer;
    border-radius: 1000px;
    min-height: 1.5rem !important;
    min-width: 1.5rem !important;
    vertical-align: middle;
    padding: 6px !important;
    line-height: 0;
    font-weight: inherit;
}

#manual-trigger-wrapper {
    min-height: 120px;
    max-width: 300px;
}

#manual-trigger-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: var(--red);
    cursor: pointer;
    color: white;
    margin-bottom: 24px;
    max-width: 130px;
    min-width: 130px;
    margin: auto;
    margin-bottom: 20px;
}

#manual-trigger-btn:hover {
    background-color: rgb(151, 16, 16);
}

#ascii-art-div {
    font-family: "Fira Code", monospace;
    font-size: 0.6rem;
    white-space: pre;
    display: flex;
    justify-content: center;
}

#warning-button {
    position: fixed;
    left: 50%;
    bottom: 12px;
    transform: translateX(-50%);
    text-align: center;
    border: 3px solid orange;
    border-radius: 6px;
    padding: 4px 12px;
    background: grey;
    cursor: pointer;
    color: white;
}
#warning-button:hover {
    background-color: darkgrey;
    border-color: rgb(255, 195, 74);
}
#sync-popup-feedback {
    position: fixed;
    bottom: 32px;
    left: 65px;
    font-family: "Fira Code", monospace;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#tags-list-container {
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 32px);
}
#all-tags-list li {
    display: inline-block;
    margin-bottom: 8px;
}
#all-tags-list {
    display: block;
    list-style-type: none;
    padding: 0;
    margin-bottom: -8px;
}
summary {
    cursor: pointer;
    padding: 4px 6px 2px;
    border-radius: var(--round);
    margin-left: 3px;
}
