:root {
    --md-primary-fg-color: #b31b1b;
    --md-primary-fg-color--light: #ecb7b7;
    --md-primary-fg-color--dark: #7d0109;
}
[data-md-color-scheme="slate"] {
    --md-hue: 225;
}
[data-md-color-scheme="slate"] {
    --md-typeset-a-color: #cf1919;
}
